{% extends 'home/base.html'%}

{% block content%}


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    {% block extra_resources%}
    {% endblock %}
    <controls>
        <map_region_label enabled="true" position="right" align="near" link="RI" />
        <map_region_label enabled="true" position="right" align="near" link="DE" />
        <map_region_label enabled="true" position="right" align="near" link="DC" />
        <map_region_label enabled="true" position="right" align="near" link="NJ" />
        <map_region_label enabled="true" position="right" align="near" link="MD" />
        <map_region_label enabled="true" position="right" align="near" link="CT" />
      </controls>
	


{% block map %}
{% endblock map%}


{% endblock%}
