{% extends 'home/base_map.html'%}

{% load static %}
{% block map %}

<div id="mapid" style="width: 100%; height: 100%;"></div>
<div id="sidebar" style="width: 100%; height: 100%;">
  <div class="form-group col-md-5 multiselect">
  <label for="inputRegion">Region Name</label>
  <select class="form-control" id="inputRegion" name="region"  style="display: block;">
                      <option value="SelectState">Select Region</option>
                      <option value="Amravati">Amravati</option>
                      <option value="Aurangabad">Aurangabad</option>
                      <option value="Mumbai">Mumbai</option>
                      <option value="Nagpur">Nagpur</option>
                      <option value="Pune">Pune</option>
                      <option value="Nashik">Nashik</option>
                      <!-- {% for i in region %}
                      <option value="{{i.regionname}}">{{i.regionname}}</option>
                      {% endfor %} -->
                    </select>
                    </div>
                    <div class="form-group col-md-4 multiselect">
                      <label for="inputDistrict">District</label>
                      <select class="form-control" id="inputDistrict" name="district"  style="display: block;">
                                          <option value="choose">Select District</option>
                                          <!-- <option value="Raigad">Raigad</option>
                                          <option value="Ratnagiri">Ratnagiri</option>
                                          <option value="Sindhudurg">Sindhudurg</option>
                                          <option value="mumbai_suburb">Mumbai Suburban District</option>
                                          <option value="Mumbai City">Mumbai City</option>
                                          <option value="Thane"> Thane</option>
                                          <option value="Palghar">Palghar</option>
                                          <option value="Nashik">Nashik</option>
                                          <option value="Jalgaon">Jalgaon</option>
                                          <option value="Buldhana">Buldhana</option>
                                          <option value="Akola">Akola</option>
                                          <option value="Washim">Washim</option>
                                          <option value="Amravati">Amravati</option>
                                          <option value="Wardha">Wardha</option>
                                          <option value="Nagpur">Nagpur</option>
                                          <option value="Bhandara">Bhandara</option>
                                          <option value="Gondia">Gondia</option>
                                          <option value="Gadchiroli">Gadchiroli</option>
                                          <option value="Chandrapur">Chandrapur</option>
                                          <option value="Yavatmal">Yavatmal</option>
                                          <option value="Nanded">Nanded</option>
                                          <option value="Hingoli">Hingoli</option>
                                          <option value="Parbhani">Parbhani</option>
                                          <option value="Jalna">Jalna</option>
                                          <option value="Aurangabad">Aurangabad</option>
                                          <option value="Beed">Beed</option>
                                          <option value="Latur">Latur</option>
                                          <option value="Osmanabad">Osmanabad</option>
                                          <option value="Solapur North">Solapur North</option>
                                          <option value="Ahmednagar">Ahmednagar</option>
                                          <option value="Pune">Pune</option>
                                          <option value="Satara">Satara</option>
                                          <option value="Sangli">Sangli</option>
                                          <option value="Kolhapur">Kolhapur</option> -->

                                        </select>
                    </div>

                    <div class="form-group col-md-5 multiselect">
                      <label for="inputDistrict">Taluka</label>
                      <select class="form-control" id="inputRegion" name="grampanchayat"  style="display: block;">
                                          <option value="SelectState">Select Taluka</option>
                                          <option value="Amravati">a</option>
                                        </select>
                        </div>
                    <div class="form-group col-md-5 multiselect">
                                          <label for="inputDistrict">Pincode</label>
                                          <select class="form-control" id="inputRegion" name="pincode"  style="display: block;">
                                                              <option value="SelectState">Select Pincode</option>
                                                              <option value="">a</option>
                                                            </select>
                     </div>
                                        <button onclick="plot()">Plot All Villages</button>
                    <div class="form-group col-md-5 multiselect"><br>
                      
                                          <label for="inputvillage">Select Individual village</label>
                                          <select class="form-control" onchange="vil(this.value)" id="inputRegion" name="village"  style="display: block;">
                                                              <option value="SelectState">Select Village</option>
                                                              <option value="Adoshi">Adoshi</option>
                                                              <option value="Botoshi">Botoshi</option>
                                                              <option value="Shirasgaon">Shirasgaon</option>
                                                              <option value="Pathardi">Pathardi</option>
                                                              <option value="Kurlod">Kurlod</option>

                                                            </select>
                                                            </div>
                  <div class="form-group col-md-5 multiselect"><br>
                    <label for="inputvillage">Toilets</label>
                    <select class="form-control" onchange="toilet(this.value)" id="inputToilet" name="village"  style="display: block;">
                                        <option value="SelectState">--Select Toilet type--</option>
                                        <option value="private">Private</option>
                                        <option value="open_defecatio">Open Defecition</option>
                                        <option value="community">Community</option>
                                    </select>

                    <label for="inputvillage">Select Village Ameneties</label>
                    <select class="form-control" onchange="toilet(this.value)" id="inputToilet" name="village"  style="display: block;">
                      <option value="SelectState">--Select--</option>
                      <option value="">Poverty Status</option>
                      <option value="">Toilet</option>
                      <option value="">Own House</option>
                      <option value="type_of_house">House Type</option>
                      <option value="">Waste Collection System</option>
                      <option value="drainage">Drainage Linked</option>
                      <option value="piped_water">Piped Water At Home</option>
                      <option value="">Community Water Tap</option>
                      <option value="">Hand Pump</option>
                      <option value="">Open Well</option>
                      <option value="">Electricity Connection</option>
                      <option value="">Lighting</option>
                      <option value="">Cooking in Chullah</option>
                      <option value="">Irrigation</option>
                      <option value="">Shelter for Livestock</option>
                      <option value="">Mode of Water Storage</option>
                      <option value="">PM Jan Dhan Yojna</option>
                      <option value="">Sukanya Sanridhi Yojna</option>
                      <option value="">Mudra Yojna</option>
                      <option value="">PM Jivan Jyoti Bima Yojna</option>
                      <option value="">PM Suraksha Bima Yojna</option>
                      <option value="">Atal Pension Yojna</option>
                      <option value="">Kaushal Vikas Yojna</option>
                      <option value="">Janani Suraksha Yojna</option>
                      <option value="">Fasal Bima Yojna</option>
                      <option value="">Soil Health Card</option>
                      <option value="">PM Awas Yojna</option>



                      
                  </select>
                  
                    
                                      </div>                                        
                                                            
                    </div>
<link rel="stylesheet" href="{% static 'static1/plugins/L.Control.Sidebar.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<script src="{% static 'static1/plugins/L.Control.Sidebar.js' %}"></script>
<script src="{% static 'static1/plugins/easy-button.js' %}"></script>
<script>

var mymap = L.map('mapid').setView([19.7515-1,75.7139-1], 4.5);
var village;
var vilm;
var villages=[];
var markers=[];
var sel='';
var v;
      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
    }).addTo(mymap);
        //   	var villageLayer = L.tileLayer.wms('https://geonode.communitygis.in/geoserver/geonode/wms',{
        // layers:'geonode:maha_villages_11july22',
        // format:'image/png',
        // transparent:'true',
        // cql_filter:`village_na IN('Adoshi','Shirasgaon','Botoshi','Pathardi','Kurlod')`,
        //        }).addTo(mymap)
        var plotted=false;
        function plot(){
          if(!plotted){

            fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3Avillages&outputFormat=application%2Fjson')
            .then(result=>result.json())
            .then((output)=>{
                  output.features.forEach(e=>{
                    // console.log(e)
                    v=e.properties.village_na
                    village = L.geoJson(e,{
                      onEachFeature:function(feature,layer){
                        // layer.setStyle({
                        //   'weight':0,
                        //   'fillOpacity':0,
                        // })
                        // v.push(feature.properties.village_na)
                        // console.log(v)

                        layer.on({
                          click:function(){
                            // console.log(layer.feature.properties.village_na)
                            // console.log('fgdfgd')
                            // L.tileLayer.wms('https://geonode.communitygis.in/geoserver/geonode/wms',{
                            //   layers:'geonode:hh_points_new',
                            //   transparent:'true',
                            //   format:'image/png',
                            //   cql_filter:`village='${feature.properties.village_na}'`

                            // }).addTo(mymap)
                            fetch('https://geonode.communitygis.in/geoserver/geonode/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=geonode%3Auba_hh&outputFormat=application%2Fjson')
                            .then(result=>result.json())
                            .then((output)=>{
                              vilm = L.geoJson(output,{
                                filter:function(feature1){
                                  // console.log(feature1.properties.village)
                                  if(document.getElementById('inputToilet')!='SelectState' && feature1.properties.village==layer.feature.properties.village_na){
                                    console.log(document.getElementById('inputToilet').value)
                                  return feature1.properties.village==layer.feature.properties.village_na && feature1.properties.toilet==document.getElementById('inputToilet').value
                                  }else{

                                    return feature1.properties.village==layer.feature.properties.village_na
                                  }
                                },
                                onEachFeature:function(feature,layer){
                                  // if(document.getElementById('inputRegion')) layer.setstylek
                                  layer.bindPopup(`<div>Head of the family :${feature.properties.head_name}<br>Gender :${feature.properties.gender}<br>House Type :${feature.properties.house_type}</div>`)
                                  // if(document.getElementById('inputvillage')!='SelectState') layer.openPopup()

                                },
                                pointToLayer:function(feature,latlng){
                                  if(document.getElementById('inputToilet')!='SelectState' && feature.properties.toilet==document.getElementById('inputToilet').value ){
                                  return L.marker(latlng,{icon:redIcon})
                                  }
                                  else{
                                    return L.marker(latlng,{icon:greenIcon})

                                  }
                                },
                              })
                              vilm.addTo(mymap)
                              markers.push(vilm)
                            })
                          }
                        })
                        // console.log('{{info}}')
                        var bounds = layer.getBounds()
                          var center = bounds.getCenter()

                        '{% for i in info %}'
                        console.log(feature.properties.village_na=='{{i.village}}')


                        if(feature.properties.village_na=='{{i.village}}'){

                          marker = L.marker(center)
                          '{% for j in hh %}'
                          if('{{ j.village }}'=='{{i.village}}'){
                          marker.bindPopup(`<div>Village Name: {{i.village}}<br>Gram Panchayat: {{i.gram_panchayat}}<br>No. of Households: {{j.total}}<br>Population: {{j.pop}}</div>`)
                          }
                          '{% endfor %}'
                          markers.push(marker)
                          marker.addTo(mymap)
                        }
                        '{% endfor %}'
                        // var bounds = layer.getBounds()
                        // var center = bounds.getCenter()
                        // marker = L.marker(center).addTo(mymap)

                      }
                    })
                    village.name = v;
                    markers.push(village)


                    console.log(v.indexOf('Adoshi'))
                    // if(village._layers.feature.properties.village_na)console.log(village.layers.feature.properties.village_na);
                    village.addTo(mymap)

                  })
                  markers.forEach(e=>{
                    if(sel!=''){
                      if(e.name==sel){
                        console.log('sdfs')
  
                          e.setStyle({fillColor:'#00ff00'})
                      }
                    }
                  })
                })
                // console.log(markers[v.indexOf('Adoshi')])
                // markers[v.indexOf('Adoshi')].setStyle({fillColor:'#00ff00'})
            plotted=true;
          }else{
            console.log(markers)
            console.log('erase')
            console.log(village)
            markers.forEach(e=>{
              mymap.removeLayer(e)
            })
            plotted=false;
          }

      }
               var maharashtaraLayer = L.tileLayer.wms('https://geonode.communitygis.in/geoserver/geonode/wms',{
        layers:'geonode:maharashtra_final_regions',
        format:'image/png',
        transparent:'true',

               }).addTo(mymap)
	var sidebar = L.control.sidebar('sidebar', {
    position: 'left'
});

mymap.addControl(sidebar);
// Show sidebar

var ctlEasybutton = L.easyButton('fa fa-bars', function () {
				sidebar.toggle();
			}).addTo(mymap);
sidebar.show();
//Icon style
var greenIcon = new L.Icon({
  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var redIcon = new L.Icon({
  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

var Amravati =['choose','Akola' ,'Amravati','Buldhana','Yavatmal','Washim']
var Aurangabad=['choose','Aurangabad','Beed','Jalna','Osmanabad' , 'Nanded', 'Latur','Parbhani' ,'Hingoli']
var Mumbai=['choose','Mumbai City','mumbai_suburb','Thane','Palghar','Raigad', 'Ratnagiri','Sindhudurg']
var Nagpur=['choose','Bhandara','Chandrapur','Gadchiroli','Gondia','Nagpur',' Wardha']
var Pune=['choose','Sangli','Satara','Solapur_North', 'Kolhapur' ,'Pune']
var Nashik=['choose','Dhule','Jalgaon','Nandurbar', 'Nashik','Ahmednagar']

// var points;

var wmsLayer;
var DistrictSelected;
var regionlayer;
var TalukaSelected;
var collegeLayer;
var talukaLayer;
var districtLayer;
$("#inputRegion").change(function(){
  regionlayer = $(this).val();
  console.log(regionlayer)
  var optionsList;
  var htmlString = "";
  wmsLayer = L.tileLayer.wms('https://geonode.communitygis.in/geoserver/geonode/wms', {
           layers: 'geonode:maharashtra_final_regions',
           format: 'image/png',
           transparent: 'true',
           cql_filter:`Region='${regionlayer}'`,
         });
         wmsLayer.addTo(mymap);
    switch (regionlayer) {
    case "Amravati":
        optionsList = Amravati;
        break;
    case "Aurangabad":
        optionsList = Aurangabad;
        break;
        case "Aurangabad":
        optionsList = Aurangabad;
        break;
    case "Mumbai":
        optionsList = Mumbai;
        console.log('fff')
        break;
    case "Nagpur":
        optionsList = Nagpur;
        break;
    case "Pune":
        optionsList = Pune;
        break;
    case "Nashik":
        optionsList = Nashik;
        break;

}
for(var i = 0; i < optionsList.length; i++){
    htmlString = htmlString+"<option value='"+ optionsList[i] +"'>"+ optionsList[i] +"</option>";
  }
  $("#inputDistrict").html(htmlString);

});

function vil(val){
  sel=val
  if(plotted){
    plot()
    plotted=false;
    plot()
  }
  console.log(val)
}

var plottedT=false;
function toilet(val){
  
  sel=val
  if(plottedT){
    plot()
    plottedT=false;
    plot()
  }
  console.log(val)
}

</script>
{% endblock map%}
